@import "style.less";
.footer {
    position: absolute;
    bottom: 5px;
    right: 20px;
    p {
        color: white;
        font-family: "Merge";
        font-size: 12px;
    }
    span.heart {
        font-weight: 700;
        font-size: 18px;
        vertical-align: middle;
        color: #FF7676;
    }
}

.comet {
    position: absolute;
    left: 50%;
    .translateX(-50%);
    z-index: 9;
    img {
        width: 111px;
        position: relative;
        z-index: 9;
    }
    .cometInner {
        position: relative;
        margin-top: 25px;
    }
    span.label {
        position: absolute;
        top: 9px;
        right: 7px;
        color: #0867AF;
        font-family: "Wohlig";
        font-size: 13px;
        z-index: 11;
        text-transform: lowercase;
    }
}

.comet.active {
    margin-left: 0px;
}

.comet.active.leave {
    margin-left: 2000px;
}

.comet.notransition {
    .transition(none);
}

.keyframes(~'rotate, 0% {  transform: rotateZ(0deg); } 100%{  transform: rotateZ(360deg); }');
.keyframes(~'sauser, 0% {  transform: rotateZ(-5deg); } 100%{  transform: rotateZ(5deg); }');
.keyframes(~'rocket, 0% {  margin-top: 15px; } 100%{  margin-top:-15px; }');
.rotate(@time) {
    .animation(rotate@time linear 0s infinite normal);
}

.rotate10 {
    .rotate(10s);
}

.rotate20 {
    .animation(rotate 20s linear 0s infinite reverse);
}

.rotate30 {
    .rotate(30s);
}

.rotate60 {
    .rotate(60s);
}

.rotate120 {
    .rotate(120s);
}

.rotate180 {
    .rotate(180s);
}

.animatedSauser {
    .animation(sauser 3s ease-in-out 0s infinite alternate);
}

.animatedRing {
    .animation(sauser 7s ease-in-out 0s infinite alternate-reverse);
}

.animatedRocket {
    .animation(rocket 4s ease-in-out 0s infinite alternate);
}

.stars.ng-scope {
    background: url(../img/background/stars.png);
    background-size: 160px;
}

.disableBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
       background: #9968ff;
    opacity: 0.5;
}

.disableBackgroundabt {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #ae6121;
    opacity: 0.8;
}
.disableBackgroundclient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000;
    color:#fff;
      font-family: 'Merge';
   
}

.abt {
    .abtlogo {
        position: absolute;
        top: 7%;
        right: 14%;
        cursor: pointer;
        img {
            width: 190px;
            z-index: 9;
            align: right;
        }
        //        img.sun {
        //            position: absolute;
        //            width: 70px;
        //            left: 57px;
        //            top: 8px;
        //        }
    }
    .abtcontent {
        position: absolute;
        top: 8%;
        width: 50%;
        left: 10%;
        font-family: "Wohlig";
        text-align: justify;
        font-size: 14px;
        //        line-height: 175%;
        color: #fff;
        h2 {
            font-size: 45px;
            margin: 0;
            padding: 0;
            line-height: 100%;
        }
        p {
            font-family: 'merge';
            padding: 0;
            margin: 0;
        }
        h4 {
            font-size: 20px;
            margin: 0;
            padding: 0;
            line-height: 100%;
        }
        .margin {
            margin: 10px 0px 25px 0px !important;
        }
        .margin-bot {
            margin-bottom: 25px;
        }
    }
}

.teamdata {
    position: absolute;
        top: 4%;
    width: 50%;
    left: 47%;
    font-family: "Merge";
    text-align: justify;
    font-size: 14px;
    line-height: 175%;
    color: #EEEAEA;
     h2 {
         font-family: "wohlig";
            font-size: 45px;
            margin: 0;
            padding: 0;
            line-height: 100%;
         text-align: right;
        }
}

.enquiry {
    .section {
        .addresses {
            position: absolute;
            top: 30%;
            width: 30%;
            left: 20%;
            font-family: "Merge";
            text-align: justify;
            font-size: 14px;
            line-height: 175%;
            color: #EEEAEA;
        }
    }
}