@import "../bower_components/lesshat/build/lesshat.less";
@font-face {
    font-family: 'Wohlig';
    src: url('../fonts/wohlig.eot');
    src: local('☺'), url('../fonts/wohlig.woff') format('woff'), url('../fonts/wohlig.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merge';
    src: local('☺'), url('../fonts/merge.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    .background-image(linear-gradient(to bottom, #001c37 0%,#003f62 100%));
    overflow: hidden;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
}
.section {
}
//sohan
.head {
    float: right;
    color: #fff;
    padding-right: 25px;
    padding-top: 20px;
}