    @import "../bower_components/lesshat/build/lesshat.less";
    @font-face {
        font-family: 'Wohlig';
        src: url('../fonts/wohlig.eot');
        src: local('☺'), url('../fonts/wohlig.woff') format('woff'), url('../fonts/wohlig.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Merge';
        src: local('☺'), url('../fonts/merge.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    body {
        margin: 0;
        .blur(10px);
        .background-image(linear-gradient(to bottom, #001c37 0%, #003f62 100%));
        overflow: hidden;
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .section {
        .logo {
            position: absolute;
            top: 4%;
            left: 10%;
            img {
                width: 260px;
            }
        }
        .sun {
            position: absolute;
            right: 17%;
            top: 10%;
            .menuimage {
                img {
                    width: 200px;
                }
            }
        }
        .moon {
            position: absolute;
            left: 25%;
            top: 30%;
            .menuimage {
                img {
                    width: 100px;
                }
            }
        }
        .rocket {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .menuimage {
                img {
                    height: 130px;
                }
            }
        }
        .satelite {
            position: absolute;
            left: 18%;
            bottom: 16%;
            .menuimage {
                img {
                    width: 125px;
                }
            }
        }
        .saucer {
            position: absolute;
            left: 48%;
            bottom: 10%;
            .menuimage {
                img {
                    width: 150px;
                }
            }
        }
        .saturn {
            position: absolute;
            right: 15%;
            bottom: 21%;
            .menuimage {
                img {
                    width: 150px;
                }
            }
        }
        .menuTop {
            position: relative;
            .menuimage {
                .transition(all 0.4s ease);
            }
            .menuimage:hover {
                .transform(scale(1.2));
            }
        }
    }
    //sohan
    .head {
        float: right;
        color: #fff;
        padding-right: 25px;
        padding-top: 20px;
        font-family: 'merge';
    }