<div class="disableBackgroundabt"></div>
<!--
   <div class="back-nav" ng-show="template.contentClass">
        <img src="img/social/back2.png" ui-sref="wohlig.home">
    </div>
-->
<div class="section">
    <div class="abt">
        <div class="abtcontent">
           <h2>about</h2>
            <p class="margin">
              Hello earthlings, it’s been long since we have been watching you guys. But we are here to give you a 

service to develop ideas and products related to technology which will make you feel out of the world. 

But before that, let me tell you guys a little about us.
            </p>
             <p class="margin">
             We are aliens from planet Wohlig. Just like earth we are round and full of people. We love computers 

and technology and since we came to know that so do you, we decided to mingle and create some 

amazing stuff for you.
            </p>
             <p class="margin">
            The services offered by the aliens from Wohlig include development of web-based

electronic businesses and social network services. With the improvement of technologies in your planet 

and ours, we have managed to build dynamic, interactive and design oriented applications, systems and 

websites for other earthlings as well.
            </p>
            <h4>mission</h4>
            <p class="margin-bot">
                we believe to change it and with that simplify complexity in information technology in all sectors. 
            </p>
             <h4>vision</h4>
            <p class="">
              to innovate and create softwares which have the capability to change the service industry drastically. 
            </p>
             <div class="qoute">
        <h3>“When a team outgrows individual performance and learns team confidence, 
excellence becomes a reality.”</h3>
        <p>- Joe Paterno.</p>
    </div>
        </div>
        <div class="abtlogo">
            <!--        <img src="img/logo.png" title="Wohlig Technology" alt="Wohlig Technology">-->
            <img src="img/planet/about-sun.png" alt="Wohlig Technology" title="Wohlig Technology" class="sun rotate30">
        </div>
        
    </div>
</div>