<div class="disableBackgroundabt"></div>
<!--
   <div class="back-nav" ng-show="template.contentClass">
        <img src="img/social/back2.png" ui-sref="wohlig.home">
    </div>
-->
<div class="section">
    <div class="abt">
        <div class="abtcontent">
           <h2>about</h2>
            <p class="margin">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat tortor, mattis in eros vel, sollicitudin imperdiet lacus. Aliquam erat volutpat. In hac habitasse platea dictumst. Cras faucibus at lectus non varius. Aliquam tincidunt est ac feugiat bibendum. Proin elementum scelerisque laoreet. Aenean vestibulum lectus sit amet vulputate posuere. Aenean ut ligula in libero bibendum sodales at in nibh. Praesent eu sagittis tellus, vel ultricies nulla. Quisque metus dui, porttitor sit amet nisl in, lobortis commodo felis. Aliquam et tortor suscipit, posuere metus eget, pretium leo.
            </p>
            <h4>mission</h4>
            <p class="margin-bot">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            </p>
             <h4>vision</h4>
            <p class="">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            </p>
        </div>
        <div class="abtlogo">
            <!--        <img src="img/logo.png" title="Wohlig Technology" alt="Wohlig Technology">-->
            <img src="img/planet/about-sun.png" alt="Wohlig Technology" title="Wohlig Technology" class="sun rotate30">
        </div>
        
    </div>
</div>