<div>
    <h1>Clients</h1>
</div>
<div class="disableBackground"></div>

<section class="enquiry">
    <div class="section">
        <div class="enquiry magic">
            <div class="alienrocks">
                <div class="aliens">

                    <div class="form-main-holder alienall alien3 ">
                        <div class="formholder">

                            <img src="img/alien/alien3.png" style="bottom: 20px;">
                        </div>
                    </div>
                    <div class="clientscr">
                        <div class="screen">
                            <img src="img/component/screen.png">
                        </div>
                        <div class="slider scrollbar-dynamic" data-jquery-scrollbar="jqueryScrollbarOptions">
                      <ul>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                          <li>
                              <img src="img/client/c1.png">
                          </li>
                      </ul>
                        </div>
                    </div>
                </div>
                <div class="rock" style="width:700px;">
                    <img src="img/component/rock2.png">
                </div>
            </div>
        </div>
    </div>
</section>