<div class="disableBackgroundclient">
    <div class="backstar">

    </div>
    <div class="clients1">
       <figure>
        <img src="img/glowstar.gif" alt="Blenders Pride" title="Blenders Pride">
        <figcaption alt="Blenders Pride" title="Blenders Pride">Blenders Pride</figcaption>
      
        </figure>
    </div>
       <div class="clients2">
       <figure>
        <img src="img/glowstar.gif" alt="LBW" title="LBW">
        <figcaption alt="LBW" title="LBW">LBW</figcaption>
      
        </figure>
    </div>  
      <div class="clients3">
       <figure>
        <img src="img/whitewonderstar.gif" alt="Magic Mirror" title="Magic Mirror">
        <figcaption alt="Magic Mirror" title="Magic Mirror">Magic Mirror</figcaption>
      
        </figure>
    </div>   
       <div class="clients4">
       <figure>
        <img src="img/alite.gif" alt="Sanofi" title="Sanofi">
        <figcaption alt="Sanofi" title="Sanofi">Sanofi</figcaption >
      
        </figure>
    </div> 
        <div class="clients5">
       <figure>
        <img src="img/glowstar.gif" alt="best deal finance" title="best deal finance">
        <figcaption alt="best deal finance" title="best deal finance">best deal finance</figcaption>
      
        </figure>
    </div> 
      <div class="clients6">
       <figure>
        <img src="img/glowstar2.gif" alt="lyla loves" title="lyla loves" >
        <figcaption alt="lyla loves" title="lyla loves">lyla loves</figcaption >
      
        </figure>
    </div>
       <div class="clients7">
       <figure>
        <img src="img/glowstar.gif" alt="aura arts" title="aura arts">
        <figcaption alt="aura arts" title="aura arts">aura arts</figcaption>
      
        </figure>
    </div> 
      <div class="clients8">
       <figure>
        <img src="img/whitewonderstar.gif" alt="dell compasador" title="dell compasador">
        <figcaption alt="dell compasador" title="dell compasador">dell compasador</figcaption>
      
        </figure>
    </div>
      <div class="clients9">
       <figure>
        <img src="img/glowstar2.gif" alt="lodha palava" title="lodha palava">
        <figcaption alt="lodha palava" title="lodha palava">lodha palava</figcaption>
      
        </figure>
    </div> 
      <div class="clients10">
       <figure>
        <img src="img/whitewonderstar.gif" alt="lashkaria" title="lashkaria">
        <figcaption alt="lashkaria" title="lashkaria">lashkaria</figcaption>
      
        </figure>
    </div> 
      <div class="clients11">
       <figure>
        <img src="img/glowstar.gif" alt="designers group" title="designers group">
        <figcaption alt="designers group" title="designers group">designers group</figcaption>
      
        </figure>
    </div>
       <div class="clients12">
       <figure>
        <img src="img/alite.gif" alt="somaiya" title="somaiya">
        <figcaption alt="somaiya" title="somaiya">somaiya</figcaption>
      
        </figure>
    </div>
        <div class="clients13">
       <figure>
        <img src="img/whitewonderstar.gif" alt="world 7 mediacraft" title="world 7 mediacraft">
        <figcaption alt="world 7 mediacraft" title="world 7 mediacraft">world 7 mediacraft</figcaption>
      
        </figure>
    </div>
        <div class="clients14">
       <figure>
        <img src="img/glowstar2.gif" alt="toy-kraft" title="toy-kraft">
        <figcaption alt="toy-kraft" title="toy-kraft">toy-kraft</figcaption>
      
        </figure>
    </div>
        <div class="clients15">
       <figure>
        <img src="img/whitewonderstar.gif" alt="200notout" title="200notout">
        <figcaption alt="200notout" title="200notout">200notout</figcaption>
      
        </figure>
    </div>
    
    
</div>