<div class="disableBackgroundclient">
    <div class="backstar">

    </div>
    <div class="clients1">
       <figure>
        <img src="img/glowstar.gif">
        <figcaption>Blenders Pride</figcaption>
      
        </figure>
    </div>
       <div class="clients2">
       <figure>
        <img src="img/glowstar.gif">
        <figcaption>LBW</figcaption>
      
        </figure>
    </div>  
      <div class="clients3">
       <figure>
        <img src="img/whitewonderstar.gif">
        <figcaption>Magic Mirror</figcaption>
      
        </figure>
    </div>   
       <div class="clients4">
       <figure>
        <img src="img/alite.gif">
        <figcaption>Sanofi</figcaption>
      
        </figure>
    </div> 
        <div class="clients5">
       <figure>
        <img src="img/glowstar.gif">
        <figcaption>best deal finance</figcaption>
      
        </figure>
    </div> 
      <div class="clients6">
       <figure>
        <img src="img/glowstar2.gif">
        <figcaption>lyla loves</figcaption>
      
        </figure>
    </div>
       <div class="clients7">
       <figure>
        <img src="img/glowstar.gif">
        <figcaption>aura arts</figcaption>
      
        </figure>
    </div> 
      <div class="clients8">
       <figure>
        <img src="img/whitewonderstar.gif">
        <figcaption>dell compasador</figcaption>
      
        </figure>
    </div>
      <div class="clients9">
       <figure>
        <img src="img/glowstar2.gif">
        <figcaption>lodha palava</figcaption>
      
        </figure>
    </div> 
      <div class="clients10">
       <figure>
        <img src="img/whitewonderstar.gif">
        <figcaption>lashkaria</figcaption>
      
        </figure>
    </div> 
      <div class="clients11">
       <figure>
        <img src="img/glowstar.gif">
        <figcaption>designers group</figcaption>
      
        </figure>
    </div>
       <div class="clients12">
       <figure>
        <img src="img/alite.gif">
        <figcaption>somaiya</figcaption>
      
        </figure>
    </div>
        <div class="clients13">
       <figure>
        <img src="img/whitewonderstar.gif">
        <figcaption>world 7 media craft</figcaption>
      
        </figure>
    </div>
        <div class="clients14">
       <figure>
        <img src="img/glowstar2.gif">
        <figcaption>toy-kraft</figcaption>
      
        </figure>
    </div>
        <div class="clients15">
       <figure>
        <img src="img/whitewonderstar.gif">
        <figcaption>200notout</figcaption>
      
        </figure>
    </div>
    
    
</div>