<div class="disableBackground"></div>
<section class="enquiry">
    <div class="section">
        <div class="enquiry magic">
            <div class="alienrocks">
                <div class="aliens">
                    <img class="alien1 alienall" src="img/alien/alien1.png" title="Bug Lightyear">
                    <img class="alien2 alienall" src="img/alien/alien2.png" title="Bo Peep">
                    <div class="form-main-holder alienall alien3 ">
                        <div class="formholder">
                            <div class="forms-query">
                                <div class="backfront">
                                    <div class="full-form">
                                        <div class="text-feedback">
                                            <p class="text-color">
                                                Thank you for interest in Wohlig Technology. Please provide the following information. You should response within 48 hours.
                                            </p>
                                        </div>
                                        <div class="form">
                                            <form action="" class="valid">
                                                <input type="text" placeholder="Name">
                                                <input type="email" placeholder="Email">
                                                <input type="tel" placeholder="Mobile">
                                                <textarea placeholder="Query"></textarea>
                                                <script type="text/ng-template" id="myModalContent.html">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">I'm a modal!</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <ul>
                                                            <li ng-repeat="item in items">
                                                                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                                                            </li>
                                                        </ul>
                                                        Selected: <b>{{ selected.item }}</b>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                                                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                                                    </div>
                                                </script>
                                                <input type="submit" value="Submit" ng-click="open('sm')" class="button">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="backback">
                                </div>
                            </div>
                            <img src="img/alien/alien3.png" title="Hamm">
                        </div>
                    </div>
                </div>
                <div class="rock">
                    <img src="img/component/rock.png">
                </div>
            </div>
        </div>
    </div>
</section>