<div class="disableBackground"></div>
<section class="enquiry">
    <div class="section">
        <div class="enquiry magic">
            <div class="alienrocks">
                <div class="aliens">
                    <img class="alien1 alienall" src="img/alien/alien1.png" title="Bug Lightyear">
                    <img class="alien2 alienall" src="img/alien/alien2.png" title="Bo Peep">
                    <div class="form-main-holder alienall alien3 ">
                        <div class="formholder">
                            <div class="forms-query">
                                <div class="backfront">
                                    <div class="full-form">
                                        <div class="text-feedback">
                                            <p class="text-color">
                                                Thank you for interest in Wohlig Technology. Please provide the following information. You should response within 48 hours.
                                            </p>
                                        </div>
                                        <div class="form" ng-hide="form.submit">
                                            <form class="validation" action="javascript:0">
                                                <input type="text" ng-model="form.name" required placeholder="Name">
                                                <input type="email" ng-model="form.email" placeholder="Email">
                                                <input type="tel" ng-model="form.mobile" placeholder="Mobile">
                                                <textarea placeholder="Query" ng-model="form.query" required></textarea>
                                                <input type="submit" value="Submit" ng-click="formsubmit(form)" class="button">
                                            </form>
                                        </div>
                                        <div ng-show="form.submit" class="text-feedback ">
                                           <p class="text-color feedback2">Your enquiry has been successfully sent.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backback">
                                </div>
                            </div>
                            <img src="img/alien/alien3.png" title="Hamm">
                        </div>
                    </div>
                </div>
                <div class="rock">
                    <img src="img/component/rock.png">
                </div>
            </div>
        </div>
    </div>
</section>