<section class="enquiry">
    <div class="section">
       <div class="enquiry magic">
        <div class="forms-query">
            <div class="backfront">
            <div class="full-form">
            <div class="text-feedback">
            	<p class="text-color">
            		Thank you for interest in Wohlig Technology. Please provide the following information. You should response within 48 hours. 
            	</p>
            </div>
            <div class="form">
            <form action="" class="valid">
            	<input type="text" placeholder="Name">
            	<input type="email" placeholder="Email">
            	<input type="tel" placeholder="Mobile">
              <textarea placeholder="Query"></textarea>
            <input type="submit" value="Query" class="button">
            </form>
			  </div>
            </div>
		   </div>
            <div class="backback">
            </div>
        </div>
        <div class="alienrocks">
        <div class="aliens">
            <img class="alien1" src="img/alien/alien1.png">
            <img class="alien2" src="img/alien/alien2.png">
            <img class="alien3" src="img/alien/alien3.png">
        </div>
        <div class="rock">
            <img src="img/component/rock.png">
        </div>
	    </div> 
    </div>
	</div>
</section>