<div class="section">
    <div class="logo">
        <img src="img/logo.png">
    </div>
    <div class="sun" label-hover="about">
        <img src="img/planet/sun.png">
    </div>
    <div class="moon" label-hover="clients">
        <img src="img/planet/moon.png">
    </div>
    <div class="rocket" label-hover="reach us">
        <img src="img/component/rocket.png">
    </div>
    <div class="satelite" label-hover="enquiry">
        <img src="img/component/satelite.png">
    </div>
    <div class="saucer" label-hover="team">
        <img src="img/component/saucer.png">
    </div>
    <div class="saturn" label-hover="portfolio">
        <img src="img/planet/saturn.png">
    </div>
</div>
