<div class="section">

    <div class="logo">
        <img src="img/logo.png" title="Wohlig Technology" alt="Wohlig Technology">
        <img src="img/planet/earth.png" alt="Wohlig Technology" title="Wohlig Technology" class="earth rotate10">
        <div class="astro">
            <img src="img/component/astro.png" title="You've got to learn to let go." alt="You've got to learn to let go.">
        </div>
    </div>
    <div class="social ">
        <div class="icon rotate60">
            <img src="img/social/facebook.png" alt="Facebook" title="Facebook" class="facebook rotate10">
            <img src="img/social/twitter.png" alt="Twitter" title="Twitter" class="twitter rotate20">
            <img src="img/social/tumblr.png" alt="Tumblr" title="Tumblr" class="tumblr rotate30">

        </div>
    </div>
    <div class="sun" label-hover="About" menu-image="img/planet/sun.png" add-class="rotate60" ui-sref="wohlig.about">
    </div>
    <div class="moon" label-hover="Clients" menu-image="img/planet/moon.png" add-class="rotate20"  ui-sref="wohlig.clients">
    </div>
    <div class="rocket" label-hover="Reach us" menu-image="img/component/rocket.png" add-class="animatedRocket"  ui-sref="wohlig.reachus">
    </div>
    <div class="satelite" label-hover="Enquiry" menu-image="img/component/satelite.png" add-class="rotate120" ui-sref="wohlig.enquiry">
    </div>
    <div class="saucer" label-hover="Team" menu-image="img/component/saucer.png" add-class="animatedSauser"  ui-sref="wohlig.team">
    </div>
    <div class="saturn" label-hover="Portfolio" menu-image="img/planet/blueplanet.png" add-class="rotate30" menu-image2="img/planet/planetring.png" add-class2="animatedRing"  ui-sref="wohlig.portfolio">
    </div>
    <div class="comets">
        <div class="comets1">
            <img src="img/component/comet1.png">
        </div>
        <div class="comets2">
            <img src="img/component/comet1.png">
        </div>
        <div class="comets3">
            <img src="img/component/comet1.png">
        </div>
    </div>
</div>
