<div class="section">
    <div class="logo">
        <img src="img/logo.png">
    </div>
    <div class="social " >
        <div class="icon rotate60">
            <img src="img/social/facebook.png" class="facebook rotate10" >
            <img src="img/social/twitter.png" class="twitter rotate20">
            <img src="img/social/tumblr.png" class="tumblr rotate30">
            
        </div>
    </div>
    <div class="sun" label-hover="about" menu-image="img/planet/sun.png" add-class="rotate60">
    </div>
    <div class="moon" label-hover="clients" menu-image="img/planet/moon.png" add-class="rotate20">
    </div>
    <div class="rocket" label-hover="reach us" menu-image="img/component/rocket.png" add-class="animatedRocket">
    </div>
    <div class="satelite" label-hover="enquiry" menu-image="img/component/satelite.png" add-class="rotate120">
    </div>
    <div class="saucer" label-hover="team" menu-image="img/component/saucer.png" add-class="animatedSauser" >
    </div>
    <div class="saturn" label-hover="portfolio" menu-image="img/planet/saturn.png" >
    </div>
</div>
