<section class="job-description">
    <div class="logo1" ui-sref="wohlig.home">
        <img src="img/logo.png" title="Wohlig Technology" alt="Wohlig Technology">
        <img src="img/planet/earth.png" alt="Wohlig Technology" title="Wohlig Technology" class="earth rotate10">
    </div>
    <div class="title">
        <h3>
            Job Description
        </h3>
    </div>
    <div class="job-content">
        <ul>
            <li>Designation - Backend Developer.</li>
            <li>Skill Set - Detailed knowledge in Node JS, Mongo DB, Angular JS, with knowledge in programming language in Java
                and core Java.</li>
            <li>Experience - 1 - 7 years.</li>
            <li>Annual CTC - Rs 1,00,000 to Rs 5,00,000.</li>
            <li>Location - Mumbai.</li>
        </ul>
        <ul>
            <li>Designation - UI Developer.</li>
            <li>Skill Set - HTML 5, CSS3, Bootstrap, SCSS</li>
            <li>Experience - 1 - 7 years.</li>
            <li>Annual CTC - Rs 1,00,000 to Rs 5,00,000.</li>
            <li>Location - Mumbai.</li>
        </ul>
        <ul>
            <li>Designation - Integration Developer.</li>
            <li>Skill Set - Detailed knowledge in Node JS, Angular JS, with knowledge in programming language in Java and core
                Java.</li>
            <li>Experience - 1 - 7 years.</li>
            <li>Annual CTC - Rs 1,00,000 to Rs 5,00,000.</li>
            <li>Location - Mumbai.</li>
        </ul>

          <ul>
            <li>Forward your resume at <a href="mailto:hr@wohlig.com">hr@wohlig.com</a></li>
        </ul>
    </div>
</section>