<div class="disableBackground"></div>

<div class="port">
    <h1>portfolio</h1>
</div>
<div class="portimg">
    <img src="img/planet/port.png">
</div>
<div class="portimag">
    <div class="img-holdr">

        <div masonry>
            <div class="masonry-brick" ng-repeat="item in items">
                <img ng-src="{{item.picture}}">
            </div>
        </div>

    </div>
    <div class="filter-section">
        <ul>
            <li ng-click="order = 'id'">
                <img src="img/portfolio/all.png">
            </li>
            <li ng-click="order = 'type'">
                <img src="img/portfolio/website.png">
            </li>
            <li ng-click="order = 'age'">
                <img src="img/portfolio/mobile.png">
            </li>
        </ul>
    </div>
</div>
<div class="portdetail">
    <div class="portback"></div>
</div>

