<div class="disableBackground"></div>

<div class="port">
    <h1>portfolio</h1>
</div>
<div class="portimg">
    <img src="img/planet/port.png">
</div>
<div class="portimag">
    <div class="img-holdr">

        <ul class="grid" masonry="false">
            <li ng-repeat="item in items | filter: { type: nameFilter } ">
                <img ng-src="{{item.picture}}">
            </li>
        </ul>

    </div>
    <div class="filter-section" ng-init="nameFilter = ''">
        <ul>
            <li ng-click="nameFilter = ''">
                <img src="img/portfolio/all.png">
                <img src="img/portfolio/ring.png" class="ring" ng-show="nameFilter=='';">
            </li>
            <li ng-click="nameFilter = 'Website'">
                <img src="img/portfolio/website.png">
                <img src="img/portfolio/ring.png" class="ring" ng-show="nameFilter=='Website';">
            </li>
            <li ng-click="nameFilter = 'mobile'">
                <img src="img/portfolio/mobile.png">
                <img src="img/portfolio/ring.png" class="ring" ng-show="nameFilter=='mobile';">
            </li>
        </ul>
    </div>
</div>
<div class="portdetail">
    <div class="portback"></div>
</div>

