<section class="enquiry">
    <div class="section">
        <div class="rockets"  menu-image="img/component/rocket.png" add-class="animatedRocket">
            <div class="menuTop">
                <div class="menuimage">
                    <img src="img/component/rocket.png" ng-class="shouldRotate" alt="reach us" title="reach us" src="img/component/rocket.png" class="animatedRocket">
                </div>
            </div>
        </div>
        <div class="googlemap">
            <!--            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15086.174908888928!2d72.8599335!3d19.0398171!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf2cc4000001%3A0xc683a42662527334!2sSadhana+English+Primary+School!5e0!3m2!1sen!2sin!4v1438506413750" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        </div>
        <div class="addresses">
            <p><span>Wohlig Technology</span></p>
            <p>
                <span>Address</span> : Plot no. 3, Flat no. A/30 Laxmi Nivas , 3rd Floor , Near Sadhana School , Sion (W) , Mumbai 400022.
            </p>
            <p>
                <span>Tel</span> : +91 98200 45678 / +91 9819222221
            </p>
            <p>
                <span>Email</span> : info@wohlig.com
            </p>
        </div>
        <div class="reachss">
            <div class="astro">
                <img src="img/component/astro.png" alt="Matt Kowalski" title="Matt Kowalski">
            </div>
        </div>
    </div>
</section>