<div class="disableBackground"></div>
<div class="section">
    <div class="teamrock">
        <!--        <div class="teamed">-->
        <div class="teamarrival">
            <img src="img/component/saucer.png" title="Wohlig Technology" alt="Wohlig Technology" />
        </div>
        <div class="teamland">
            <img src="img/component/rock3.png" alt="Wohlig Technology" title="Wohlig Technology" class="land" />
        </div>
        <div class="teamaliens">


            <img class="alien11 alienalls" src="img/alien/alien6.png">

            <img class="alien22 alienalls" src="img/alien/alien5.png">
            <img class="alien44 alienalls" src="img/alien/alien7.png">
            <img class="alien55 alienalls" src="img/alien/alien8.png">
            <img class="alien33 alienalls" src="img/alien/alien4.png">
            <!--                <img class="alien34 alienalls" src="img/alien/alienhand.png">-->
        </div>
    </div>
</div>
<div class="teamdata">
    <h2>team</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat tortor, mattis in eros vel, sollicitudin imperdiet lacus. Aliquam erat volutpat. In hac habitasse platea dictumst. Cras faucibus at lectus non varius. Aliquam tincidunt est ac feugiat bibendum. Proin elementum scelerisque laoreet. Aenean vestibulum lectus sit amet vulputate posuere. Aenean ut ligula in libero bibendum sodales at in nibh. Praesent eu sagittis tellus, vel ultricies nulla. Quisque metus dui, porttitor sit amet nisl in, lobortis commodo felis. Aliquam et tortor suscipit, posuere metus eget, pretium leo
    </p>
    <div class="qoute">
        <h4>“When a team outgrows individual performance and learns team confidence, 
excellence becomes a reality.”</h4>
        <p>- Joe Paterno.</p>
    </div>
</div>