<div class="disableBackground"></div>
<div class="section">
    <div class="teamrock">
        <!--        <div class="teamed">-->
        <div class="teamarrival">
            <img src="img/component/saucer.png" title="Red Pearl" alt="Red Pearl" />
        </div>
        <div class="teamland">
            <img src="img/component/rock3.png" alt="Wohlig Technology" title="Wohlig Technology" class="land" />
        </div>
        <div class="teamaliens">


            <img class="alien11 alienalls" src="img/alien/alien6.png" title="Fungos">

            <img class="alien22 alienalls" src="img/alien/alien5.png" title="Mike Wazowski">
            <img class="alien44 alienalls" src="img/alien/alien7.png" title="Bloat">
            <img class="alien55 alienalls" src="img/alien/alien8.png" title="Viper">
            <img class="alien33 alienalls" src="img/alien/alien4.png" title="Boggs">
            <!--                <img class="alien34 alienalls" src="img/alien/alienhand.png">-->
        </div>
    </div>
</div>
<div class="teamdata">
    <h2>team</h2>
    <p>
        The team of Wohlig Technology has developers, designers and creative developers with immense 

experience in the world of technology. 

With a portfolio budding with creative applications, websites and systems, the team is able to grasp the 

needs of the clients and the users.
    </p>
    <p>
        The technology used by the team is cutting edge and at its best, they follow international coding 

standards to make sure each idea is professional and unique. 

The design, development and integration team as a whole create and develop websites and applications 

giving them a strategically strong and creatively refreshing twist.
    </p>
    <div class="qoute">
        <h3>“When a team outgrows individual performance and learns team confidence, 
excellence becomes a reality.”</h3>
        <p>- Joe Paterno.</p>
    </div>
</div>